#i1{
    height: 570px;
}
.b1{
    background-color: rgb(100, 11, 127);
    border-radius: 20px;
}
.d1{
    margin-left: 50px;
}
.f1{
    border: none;
}
.b3{
    background-color: rgb(100, 11, 127);

}


@media(orientation: portrait)
{
h1{
    font-size: large;
}
p{
    font-size: small;
}
#i1{
    height: 480px;
}
.b1{
    height: 30px;
    font-size: x-small;
}
img{
    width: 50%;
}
}
